*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   max-width: 512px;
    margin: 0 auto;
    background-color: hsl(237.55deg 66.22% 29.02%);
     font-family: "DM Sans", sans-serif;

}

header img{
    width: 100%;
    display: block;
}


.parte-1{
    margin: 100px 100px 50px;
}


h1{
    color: white;
     font-family: "Sigmar", sans-serif;
     text-align: center;
     line-height: 1;
    margin-bottom: 10px;
}

.testo-1{
    color: white;
    text-align: center;
    font-size: 14px;
}

.bottone-download{
    padding: 15px 70px;
    margin: 20px auto;
    border-radius: 20px;
    display: inline-flex;
    gap: 5px;
}

.bottone-discord{
    padding: 15px 62px;
    border-radius: 20px;
    color: white;
    background-color: rgb(71 80 199);
}

.parte-2{
    margin: 50px;
    padding: 60px 20px;
    background-color: rgb(93 100 208);
    border-radius: 20px;
    position: relative;

}

h2{
   color: white;
     font-family: "Sigmar", sans-serif;
     text-align: left;
     line-height: 1;
    margin-bottom: 10px;
    font-size: 32px;
    margin-right: 30px;
}

.testo-2{
    color: white;
    text-align: left;
}


.immagine-absolute{
    position: absolute;
    width: 100px;
    top: -50px;
    left: 156px;
}

.immagini{
    width: 370px;
    margin-top: 20px;
    border-radius: 20px;
}